menu "PowerRune Project Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config POWERRUNE_TYPE
        int "PowerRune Driver Board Type"
        default 1
        help
            PowerRune driver board type (0:ARMOUR, 1:RLOGO, 2:MOTORCTL)

    config DEFAULT_UPDATE_URL
        string "PowerRune Update Server Address"
        default "http://10.203.221.22/pr_ota_bin/"
        help
            The server address where the PowerRune update files are stored

    config OTA_TIMEOUT
        int "Time limit(MS) for OTA task"
        default 20000

    config ESPNOW_TIMEOUT
        int "Time limit(MS) for ESPNOW task"
        default 3000

    config DEFAULT_UPDATE_FILE
        string "PowerRune Update Filename"
        default "%sPowerRune24-%i_latest.bin"
        help
            %i represents the driver board type (0:ARMOUR, 1:RLOGO, 2:MOTORCTL)

    config DEFAULT_UPDATE_SSID
        string "PowerRune Update Default WiFi Name"
        default "SEU-WLAN"

    config DEFAULT_UPDATE_PWD
        string "PowerRune Update Default WiFi Password"
        default ""

    config DEFAULT_UPDATE_TIME_OUT
        int "OTA Timeout"
        default 5000
        help
            Maximum time for reception

    config PR_NVS_NAMESPACE
        string "NVS Namespace for PowerRune"
        default "PowerRune"
        help
            PR Namespace for NVS

endmenu