CONFIG_FREERTOS_HZ=1000
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_PRM.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_PRM.csv"

##???
#Armour
#CONFIG_POWER_RUNE_TYPE=0 
#RLogo
#CONFIG_POWER_RUNE_TYPE=1
#Motor
CONFIG_POWER_RUNE_TYPE=2
