#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
# end of Serial flasher config

#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
# CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE is not set
# CONFIG_PARTITION_TABLE_TWO_OTA is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_PRA.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_PRA.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# PowerRune Project Configuration
#
CONFIG_ENV_GPIO_RANGE_MIN=0
CONFIG_ENV_GPIO_RANGE_MAX=48
CONFIG_ENV_GPIO_IN_RuNGE_MAX=48
CONFIG_ENV_GPIO_OUT_RANGE_MAX=48
CONFIG_POWERRUNE_TYPE=0
CONFIG_DEFAULT_UPDATE_URL="http://10.203.221.22/pr_ota_bin/"
CONFIG_OTA_TIMEOUT=20000
CONFIG_ESPNOW_TIMEOUT=3000
CONFIG_DEFAULT_UPDATE_FILE="%sPowerRune24-%i_latest.bin"
CONFIG_DEFAULT_UPDATE_SSID="SEU-WLAN"
CONFIG_DEFAULT_UPDATE_PWD=""
CONFIG_DEFAULT_UPDATE_TIME_OUT=5000
CONFIG_NVS_NAMESPACE="powerrune"
# end of PowerRune Project Configuration

#
# FreeRTOS
#

#
# OTA
#
CONFIG_APP_ROLLBACK_ENABLE=y

#
# Kernel
#
CONFIG_FREERTOS_HZ=1000

#
# LWIP
#
CONFIG_LWIP_LOCAL_HOSTNAME="PowerRune_Armour"